<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <queries>

        <!-- Queries for email-related packages -->
        <intent>
            <action android:name="android.intent.action.SENDTO" />

            <data android:scheme="mailto" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />

            <data android:mimeType="message/rfc822" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".activity.event.EventMemberListActivity"
            android:exported="false" />

        <meta-data
            android:name="mapbox_styleUrl"
            android:value="mapbox://styles/mapbox/dark-v10" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/greenify_app_logo" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/dark_blue" />

        <activity
            android:name=".activity.map.MapBoxActivity"
            android:exported="false"
            android:theme="@style/Theme.Greenify" />
        <activity
            android:name=".activity.event.EventFormActivity"
            android:exported="false"
            android:theme="@style/Theme.Greenify" />
        <activity
            android:name=".activity.event.EventDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Greenify" />
        <activity
            android:name=".activity.walkthru.test"
            android:exported="false"
            android:theme="@style/Theme.Greenify" />
        <activity
            android:name=".activity.main.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Greenify" />
        <activity
            android:name=".activity.auth.SignUpActivity"
            android:exported="false"
            android:theme="@style/Theme.Greenify" />
        <activity
            android:name=".activity.auth.AuthenticationActivity"
            android:exported="false"
            android:theme="@style/Theme.Greenify" />
        <activity
            android:name=".activity.walkthru.WalkThruActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Staring">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".service.AppNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>